body {
  padding: 0;
  margin: 0;
}
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  transition: background-color 0.3s;
}
/* 콘테이너 */
.container {
  background-color: black;
  display: flex;
  justify-content: center;
  color: white;
  margin: 0;
  padding: 0;
}
.smContainer {
  background-color: black;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  padding: 5px;
  color: rgb(201, 201, 201);
  justify-content: center;
  cursor: pointer;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  float: right;
  padding: 10px;
  font-weight: bold;
  font-size: 1rem;
  margin: 0 10px;
  padding: 0;
}

.Link {
  color: rgb(201, 201, 201);
  text-decoration: none;

  transition: color 0.3s ease;
}

.Link:hover {
  color: white;
  background-color: rgba(255, 228, 196, 0.534);
  border-radius: 10%;
}

.smContainer:hover {
  color: white;
}
