.cursor {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(45deg, #a18cd1, #fbc2eb);
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: ease-in;
  opacity: 30%;
}
