.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: ease;
  opacity: 30%;
  z-index: 0;
}
